<section id="carousel">
    <div class="carousel slide" style="margin-top:10px;" data-ride="carousel" id="carousel-1">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="jumbotron pulse animated hero-nature carousel-hero text-center" style="background-color:white;">
                    <img src="~/Pics/pic-doctor.png" class="img-fluid" />
                </div>
            </div>
            <div class="carousel-item">
                <div class="jumbotron pulse animated hero-photography carousel-hero" style="background-color:white;">
                    <img src="~/Pics/pic-celulas.png" class="img-fluid" />
                </div>
            </div>
        </div>
        <div>
            <a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><i class="fa fa-chevron-left" style="color: black"></i><span class="sr-only">Previous</span></a>
            <a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><i class="fa fa-chevron-right" style="color: black"></i><span class="sr-only">Next</span></a>
        </div>
        <ol class="carousel-indicators">
            <li data-target="#carousel-1" data-slide-to="0"></li>
            <li data-target="#carousel-1" data-slide-to="1"></li>
        </ol>
    </div>
</section>
<div class="text-center">
    <div class="float-left">
        <div class="card" style="background-color:#663838">
            <div class="card-body">
                <a>
                    <p style="font-size:20px; color:#FFCACA">Receptor</p>
                </a>
            </div>
            <div class="card-footer">
                <a>
                    <p style="font-size:20px; color:#FFCACA">Mas información</p>
                </a>
            </div>
        </div>
    </div>
    <div class="float-right">
        <div class="card" style="background-color:#FFA7A7">
            <div class="card-body">
                <a>
                    <p style="font-size:20px; color:#400606">Donador</p>
                </a>
            </div>
            <div class="card-footer">
                <a>
                    <p style="font-size:20px; color:#400606">Mas información</p>
                </a>
            </div>
        </div>
    </div>
</div>