<div class="container">
    <div class="carousel slide" id="main-carousel" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#main-carousel" data-slide-to="1"></li>
        </ol><!-- /.carousel-indicators -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Pics/blood-1968458.svg" style="width:100%; height:800px;" class="d-block img-fluid" />
            </div>
            <div class="carousel-item">
                <img src="~/Pics/heart-5724137.svg" style="width:100%; height:800px;" class="d-block img-fluid" />
            </div>
        </div><!-- /.carousel-inner -->

        <a href="#main-carousel" class="carousel-control-prev" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            <span class="sr-only" aria-hidden="true">Prev</span>
        </a>
        <a href="#main-carousel" class="carousel-control-next" data-slide="next">
            <span class="carousel-control-next-icon"></span>
            <span class="sr-only" aria-hidden="true">Next</span>
        </a>
    </div><!-- /.carousel -->
</div><!-- /.container -->


<div class="container">
    <div class="d-flex justify-content-center text-center d-inline-block">
        <div class="float-left">
            <div class="cards" style="background-color: #663838; width: 200px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.5s;">
                <div class="card-body">
                    <a>
                        <p style="font-size:20px; color:#FFCACA">Receptor</p>
                    </a>
                </div>
                <div class="card-footer">
                    <a asp-controller="User" asp-action="UserLoginPage">
                        <p style="font-size:20px; color:#FFCACA">Crear solicitud</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="float-right">
            <div class="cards" style="background-color: #FFA7A7; width: 200px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.5s;">
                <div class="card-body">
                    <a>
                        <p style="font-size:20px; color:#400606">Donante</p>
                    </a>
                </div>
                <div class="card-footer">
                    <a asp-controller="Donor" asp-action="DonorRegisterPage">
                        <p style="font-size:20px; color:#400606">Registrarse</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
