@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="container">
    <div class="text-center" style="margin-top:60px;">
        <p>Por favor, debe de confirmar su cuenta haciendo click el siguiente boton:</p>
        <button class="btn btn-danger">Confirmar cuenta</button>
    </div>
</div>