<div class="container">
    <div class="text-center" style="margin-top:60px;">
        <div id="success_div" class="col d-flex justify-content-center">
            <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_ctvgysft.json" background="transparent" speed="1" style="width: 300px; height: 300px;" autoplay></lottie-player>
        </div>
        <br />
        <p style="font-size:20px;">Cuenta confirmada</p>
    </div>
</div>
<script type="text/javascript">    
    setTimeout(function () {
        window.location.href = "/BloodRequest/BloodRequestPage";
    }, 3000);
</script>