<div class="container">
    <div class="text-center" style="margin-top:60px;">
        <div id="success_div" class="col d-flex justify-content-center">
            <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_ctvgysft.json" background="transparent" speed="1" style="width: 300px; height: 300px;" autoplay></lottie-player>
        </div>
        <br />
        <p style="font-size:20px;">Cuenta confirmada</p>
    </div>
</div>
<script type="text/javascript">    
    $.ajax({
        url: 'ConfirmAccount/ConfirmProcess',
        type: 'POST',
        timeout: 3000,
        success: function (response) {
            if (response.roleUser == 1) {
                window.location.href = "BloodRequest/BloodRequestDetailsCollection";
            }
            else if (response.roleUser == 2) {
                window.location.href = "BloodRequest/BloodRequestPage";
            }
        }
    });
</script>