<div class="container">
    <div class="text-center" style="margin-top:60px;">
        <p>Por favor, debe de confirmar su cuenta haciendo click el siguiente boton:</p>
        <button class="btn btn-danger">Confirmar cuenta</button>
    </div>
</div>