@model Una_Pinta.Models.UserSignUp
<div class="container">
    <div class="text-center">
        <p style="font-family: 'Roboto', sans-serif; font-size:30px; font-weight:bold">Registro de Donante</p>
    </div>
    <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);transition: 0.5s;">
        <div class="card-body">
            <form data-ajax="true" asp-controller="Donor" asp-action="DonorTapRegister"
                  data-ajax-method="POST"
                  data-ajax-success="OnSuccess" class="container">
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label style="font-family: 'Roboto', sans-serif;">Nombre</label>
                        <input type="text" data-val-required="El nombre es un campo obligatorio" asp-for="FirstName" data-val="true" class="form-control">
                        <div class="text-center">
                            <span data-valmsg-for="FirstName" class="text-danger" data-valmsg-replace="true" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label style="font-family: 'Roboto', sans-serif;">Apellidos</label>
                        <input type="text" data-val-required="El apellido es un campo obligatorio" asp-for="LastName" data-val="true" class="form-control">
                        <div class="text-center">
                            <span data-valmsg-for="LastName" class="text-danger" data-valmsg-replace="true" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label style="font-family: 'Roboto', sans-serif;">Sexo</label>
                        <select data-val-required="El sexo es un campo obligatorio" asp-for="Sex" data-val="true" class="form-control">
                            <option value="" disabled selected hidden>Seleccionar</option>
                            <option value="true">M</option>
                            <option value="false">F</option>
                        </select>
                        <div class="text-center">
                            <span data-valmsg-for="Sex" class="text-danger" data-valmsg-replace="true" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label style="font-family: 'Roboto', sans-serif;">Tipo de sangre</label>
                        <select data-val-required="El tipo de sangre es un campo obligatorio" asp-for="BloodTypeId" data-val="true" class="form-control">
                            <option value="" disabled selected hidden>Seleccionar</option>
                            <option value="1">A+</option>
                            <option value="2">A-</option>
                            <option value="3">B+</option>
                            <option value="4">B-</option>
                            <option value="5">AB+</option>
                            <option value="6">AB-</option>
                            <option value="7">O+</option>
                            <option value="8">O-</option>
                        </select>
                        <div class="text-center">
                            <span data-valmsg-for="BloodTypeId" class="text-danger" data-valmsg-replace="true" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label style="font-family: 'Roboto', sans-serif;">Fecha de nacimiento</label>
                        <input type="datetime-local" data-val-required="La fecha de nacimiento es un campo obligatorio" asp-for="BirthDate" data-val="true" class="form-control">
                        <div class="text-center">
                            <span data-valmsg-for="BirthDate" class="text-danger" data-valmsg-replace="true" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label style="font-family: 'Roboto', sans-serif;">Email</label>
                        <input type="email" data-val-required="El email es un campo obligatorio" asp-for="Email" data-val="true" class="form-control">
                        <div class="text-center">
                            <span data-valmsg-for="Email" class="text-danger" data-valmsg-replace="true" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label style="font-family: 'Roboto', sans-serif;">Telefono</label>
                        <input type="text" id="phonetxt" data-val-required="El telefono es un campo obligatorio" asp-for="PhoneNumber" data-val="true" class="form-control">
                        <div class="text-center">
                            <span data-valmsg-for="PhoneNumber" class="text-danger" data-valmsg-replace="true" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label style="font-family: 'Roboto', sans-serif;">Usuario</label>
                        <input type="text" data-val-required="El usuario es un campo obligatorio" asp-for="UserName" data-val="true" class="form-control">
                        <div class="text-center">
                            <span data-valmsg-for="UserName" class="text-danger" data-valmsg-replace="true" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label style="font-family: 'Roboto', sans-serif;">Contraseña</label>
                        <input type="password" id="passwordtxt" data-val-required="La contraseña es un campo obligatorio" asp-for="Password" data-val="true" class="form-control">
                        <div class="text-center">
                            <span data-valmsg-for="Password" class="text-danger" data-valmsg-replace="true" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label style="font-family: 'Roboto', sans-serif;">Peso (Kg)</label>
                        <input type="number" data-val-required="El peso es un campo obligatorio" asp-for="Weight" data-val="true" class="form-control">
                        <div class="text-center">
                            <span data-valmsg-for="Weight" class="text-danger" data-valmsg-replace="true" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label style="font-family: 'Roboto', sans-serif;">Confirmación de contraseña</label>
                        <input type="password" id="confirmpasswordtxt" data-val="true" data-val-required="Este es un campo obligatorio" class="form-control">
                        <div class="text-center">
                            <span data-valmsg-for="" class="text-danger" data-valmsg-replace="true" />
                        </div>
                    </div>
                    <input type="text" value="donante" hidden="hidden" asp-for="Role" data-val="true">
                </div>
                <br />
                <div class="text-center">
                    <button type="submit" class="btn btn-outline-success float-right" onclick="return Validate()">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">

    function Validate() {
        var password = document.getElementById("passwordtxt").value;
        var confirmPassword = document.getElementById("confirmpasswordtxt").value;
        if (password != confirmPassword) {
            swal({
                title: "Error",
                text: "Las contraseñas no coinciden",
                type: "error",
                icon: "error",
                showCancelButton: true,
                closeOnConfirm: true,
                closeOnCancel: true
            });
            return false;
        }
        var phoneno = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
        var phone = document.getElementById("phonetxt").value;
        if ((!phone.match(phoneno))) {
            swal({
                title: "Error",
                text: "El número de teléfono, no es válido",
                type: "error",
                icon: "error",
                showCancelButton: true,
                closeOnConfirm: true,
                closeOnCancel: true
            });
            return false;
        }
        return true;
    }

    function OnSuccess(response) {
        if (response.code != 201) {
            swal({
                title: "Error",
                text: response.responseText,
                icon: "error",
                showCancelButton: true,
                closeOnConfirm: true,
                closeOnCancel: true
            });
        }
        else {
            window.location.href="/Donor/DonorQuestionsPage"
        }
    }
</script>
