<div class="container" style="padding:140px;">
    <div class="text-center">
        <p>Registro de Donante</p>
    </div>
    <div class="card" style="width: 50rem; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);transition: 0.3s;">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label>Dirección</label>
                    <input type="email" class="form-control" placeholder="Dirección">
                </div>
                <div class="form-group">
                    <label>Ubicación</label>
                    <input type="text" class="form-control" placeholder="Ubicación">
                </div>
                <div class="form-group">
                    <label>Sexo</label>
                    <input type="text" class="form-control" placeholder="Sexo">
                </div>
                <div class="form-group">
                    <label>Tipo de Sangre</label>
                    <input type="text" class="form-control" placeholder="Tipo de Sangre">
                </div>
                <div class="form-group">
                    <label>Peso (Kg)</label>
                    <input type="text" class="form-control" placeholder="Peso (Kg)">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn-block btn btn-outline-success">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
