@model Una_Pinta.Models.UserSignUp
@{
    Layout = "LayoutUnaPinta";
}
<div class="container">
        <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);transition: 0.5s; margin-top:20px;">
            <div class="card-body">
                <div class="text-center">
                    <p style="font-family:'Segoe UI'; font-size:20px;">Ingrese su correo electrónico</p>
                    <input  id="email" placeholder="jhondoe@gmail.com" class="form-control" />
                    <br />
                    <button type="submit" onclick="resendMailVerification()" class="btn btn-danger">Enviar correo</button>
                </div>
            </div>
        </div>
</div>
<script type="text/javascript">
    function resendMailVerification() {

        var email = $('#email').val();
        alert(email);

        $.ajax({
            url: "/User/SendEmail/",
            dataType: "json",
            cache: false,
            type: 'GET',
            data: { email },
            success: function (result) {
                if (result.statusCode == 200) {
                    Swal.fire({
                        title: "Bien",
                        text: "Correo enviado correctamente",
                        type: "success",
                        icon: "success",
                        closeOnConfirm: true
                    });
                }
                
            }
        });

        

            //$.get(url, function (data) {
            //    if (data.statusCode == 200) {
            //        Swal.fire({
            //            title: "Bien",
            //            text: "Correo enviado correctamente",
            //            type: "success",
            //            icon: "success",
            //            closeOnConfirm: true
            //        });
            //    }
            //    else {
            //        Swal.fire({
            //            title: "Error",
            //            text: "Ha ocurrido un error al reenviar el correo",
            //            type: "error",
            //            icon: "error",
            //            closeOnConfirm: true
            //        });
            //    }
            //});
        }
    </script>