@{ 
    Layout = "LayoutUnaPinta";
}
<div class="container">
    <div class="text-center">
        <p style="font-family: 'Roboto', sans-serif; font-size:30px; font-weight:bold">Bienvenido a tu perfil username</p>
    </div>
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_rw0hvilj.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="mb-0" style="font-weight:bold">Nombre:</label>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input value="" class="form-control" />
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="mb-0" style="font-weight:bold">Apellidos:</label>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input value="" class="form-control" />
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="mb-0" style="font-weight:bold">Sexo:</label>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input value="" class="form-control" />
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="mb-0" style="font-weight:bold">Fecha de nacimiento:</label>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="date" value="" class="form-control" />
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="mb-0" style="font-weight:bold">Teléfono:</label>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input value="" class="form-control" />
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="mb-0" style="font-weight:bold">Provincia:</label>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input value="" class="form-control" />
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="mb-0" style="font-weight:bold">Usuario:</label>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input value="" class="form-control" />
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="mb-0" style="font-weight:bold">Contraseña:</label>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input value="" class="form-control" />
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-12 text-right">
                                <button id="cancelButton" onclick="cancelCase(listData.Id)" class="btn btn-success" type="submit">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>