@model Una_Pinta.Models.UserSignUp
<div class="container">
    <div class="text-center">
        <p style="font-family: 'Roboto', sans-serif; font-size:30px; font-weight:bold">Inicio de Sesión</p>
    </div>
    <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);transition: 0.5s;">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_jcikwtux.json" background="transparent" speed="1" style="width: 500px; height: 500px;" loop autoplay></lottie-player>
                    </div>
                    <div class="col d-flex justify-content-center" style="margin-top:80px;">
                        <form data-ajax="true" asp-controller="User" asp-action="UserTapLogin"
                              data-ajax-method="POST"
                              data-ajax-success="OnSuccess" class="container">
                            <div class="text-left">
                                <label style="font-family: 'Roboto', sans-serif; font-size:17px;">Usuario:</label>
                            </div>
                            <input type="text" id="userNametxt" data-val-required="El usuario es un campo obligatorio" asp-for="UserName" placeholder="jhondoe" class="form-control" />
                            <div class="text-center">
                                <span data-valmsg-for="UserName" class="text-danger" data-valmsg-replace="true" />
                            </div>
                            <div class="text-left">
                                <label style="font-family: 'Roboto', sans-serif; font-size:17px;">Contraseña:</label>
                            </div>
                            <input type="password" data-val-required="La contraseña es un campo obligatorio" asp-for="Password" placeholder="password" class="form-control" />
                            <div class="text-center">
                                <span data-valmsg-for="Password" class="text-danger" data-valmsg-replace="true" />
                            </div>
                            <br />
                            <div class="justify-end justify-content-between">
                                <div>
                                    <button type="submit" class="btn-block btn btn-danger">Ingresar</button>
                                </div>
                                <br />
                                <div>
                                    @Html.ActionLink("Registrarse", // <-- Link text
                                                    "UserRegisterPage", // <-- Action Method Name
                                                    "User", // <-- Controller Name
                                                     null, // <-- Route value
                                                     new { @class = "btn-block btn btn-secondary" } // <-- htmlArguments
                                                     )
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>            
            
        </div>
    </div>
</div>
<script type="text/javascript">
    function OnSuccess(response) {
        var userName = document.getElementById("userNametxt").value;
        if (response != 200) {
            swal({
                title: "Advertencia",
                text: "Este usuario no existe",
                type: "warning",
                icon: "warning",
                showCancelButton: true,
                closeOnConfirm: true,
                closeOnCancel: true
            });
        }
        else {
            window.localStorage.setItem("userKey", userName);
            window.location.href = "/BloodRequest/BloodRequestPage"
        }
    }
</script>
