@{
    Layout = "LayoutUnaPinta";
}
<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_a7vr2ghs.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
        </div>
        <div class="text-center">
            <h1 class="display-6">Usted no está habilitado para donar</h1>
        </div>
    </div>
</div>